.education h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 20px; /* Уменьшено расстояние сверху */
  margin-bottom: 0px; /* Уменьшено расстояние сверху */
}

.education p {
  font-size: 1rem;
  color: #cccccc;
  margin: 0px 0px;
}