/* Контейнер для тегов */
.tags-container {
  display: flex;
  flex-wrap: wrap-reverse; /* Перенос строк: снизу вверх */
  flex-direction:row;
  gap: 8px; /* Расстояние между тегами */
  margin-top: 16px; /* Отступ сверху от описания */
  margin-top: auto; /* "Прилипает" контейнер к нижнему краю */
}

/* Стили для каждого тега */
.tag {
  display: inline-block;
  padding: 8px 12px; /* Внутренние отступы */
  background-color: rgb(204, 174, 2); /* Фон тега */
  border-radius: 12px; /* Закругленные края */
  font-size: 14px; /* Размер шрифта */
  color: black; /* Цвет текста */
  text-align: center;
  cursor: pointer; /* Указывает, что элемент интерактивный */
  transition: background-color 0.3s, transform 0.2s; /* Эффект при наведении */
}

/* Эффект при наведении на тег */
.tag:hover {
  background-color: gold; /* Светло-голубой цвет при наведении */
  transform: scale(1.05); /* Небольшое увеличение */
  color: black; /* Цвет текста при наведении */
}