:root {
  --text-light: 14px;
  --text-regular: 16px;
  --text-title: 32px;
  
  --color-regular: #1D1B20;
  --color-title: #434D60;
  --color-stroke: #79747E;
  --color-selected: #E8DEF8;
  --color-primary: #6750A4;

  --corner-radius: 16px;
}

body{
  padding: 25px 200px;
  background-color: #FEF7FF;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-title);
  color: var(--color-title);
  font-weight: bold;
  margin: 3px;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-regular);
  font-weight: bold;
  color: var(--color-regular);
  margin: 3px;
}
h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-light);
  color: var(--color-stroke);
  font-weight: lighter;
  margin: 3px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-regular);
  color: var(--color-regular);
  margin: 3px;
}

.zone {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto auto;
  }
  .corners {
    border-radius: 16px;
    padding: 30px;
  }
.person {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #F7F2FA;
  margin: 10px;
  padding: 15px;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #F7F2FA;
  margin: 10px 10px 10px 40px;
  padding: 32px;
}



.shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 
    0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.30);
}

.avatar {
  display: block;
  width: 250px;
  height: 250px;
  margin: 20px;
  border-radius: 16px;
}

.person h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-title);
  font-weight: bold;
  text-align: center;
}

.tag {
  width:fit-content;
  height: auto;
  margin: auto;
  border-radius: 25px;
  background-color: var(--color-selected);
  padding: 5px 10px;
  font-size: var(--text-regular);
  font-weight: bold;
  color: var(--color-title);
}

hr {
  border: 1px solid;
  color: var(--color-stroke);
}

.person-info {
  display: flex;
  margin: 20px 0px;
}

.bulb {
  width:  45px;
  height: 45px;
  border-radius: var(--corner-radius);
  background-color: var(--color-selected);
  padding: auto;
  position: relative;

}

.icon {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: fit-content;
  height: 50%;
}

.short-line {
  height: 0px;
  width: 70px;
  border: 3.5px solid var(--color-primary);
  border-radius: var(--corner-radius);
  margin: 5px 0px 15px 5px;
}

.ability-grid {
    margin: 20px 0px;
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

.ability-item {
  display: flex;
  background-color: white;
  padding: 10px;
  min-width: 200px;
  height: 80px;

  border: 1px solid var(--color-stroke);
}

.ability-icon {
  width:  80px;
  height: 80px;
  padding: auto;
  position: relative;
}
.social-list {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;}
.social {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

@media (max-width:1750px){
  body{
    padding: 25px 0px;
  }
}
