.portfolio-title {
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 320px);
  }
}

@media (min-width: 961px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 320px);
  }
}

.project {
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: translateY(-2.5px);
}

.project img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
}

.project h3 {
  margin: 10px 0;
}

.project p {
  font-size: 0.9rem;
  color: #cccccc;
}

.project a {
  text-decoration: none;
  color: inherit;
  display: block;
}
