@import url('../style.css');
@import url('../elements/tag.css');

/* Top Section */
.top-section {
  display: flex;
  gap: 15px;
  background-color: #3a3a3a;
  border-radius: 10px;
  padding-bottom: 10px;
}

.carousel-container {
  position: relative;
  flex: 2;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
  border-radius: 10px 0px 0px 0px;
  object-fit: contain;
  aspect-ratio: 16/9;
  background-color: #222222;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.thumbnails {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  margin-top: 10px;
}

.thumbnails img {
  cursor: pointer;
  height: 100px;
  width: auto; /* Позволяет ширине быть автоматически вычисленной для сохранения пропорций */
  background-color: #222222;
  transition: transform 0.2s;
}


.thumbnails img.active {
  border: 2px solid rgb(185, 185, 185);
}

.project-info {
  flex: 1;
  border-radius: 10px;
}

.project-info .poster {
  width: 100%;
  aspect-ratio: 4 / 3; 
  border-radius: 0px 10px 0px 0px;
  margin: 0px;
  object-fit: cover; 
}
.short-description {
  display: flex;
  flex-direction: column; /* Вертикальное размещение содержимого */
  justify-content: flex-end; /* Содержимое размещается внизу контейнера */
  height: 46.5%; /* Полная высота контейнера */
  position: relative; /* Для контроля внутренних элементов */
}

.details-section h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

/* Основные стили для полос прокрутки */
.thumbnails {
  scrollbar-color: rgb(204, 174, 2) #222222;  /* Цвет ползунка (темно-серый) и фона полосы прокрутки (светло-серый) для Firefox */
}

.project-links {
  margin-top: 10px;
  font-size: 1rem;
}

.project-link {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.project-link:hover {
  text-decoration: underline;
}
